---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

        <p class="post-meta">

            {% assign num_words = page.content | strip_html | number_of_words %}
            {% assign minutes_f = num_words | divided_by: 200.0 %}
            {% assign minutes_i = num_words | divided_by: 200 %}
            {% assign diff = minutes_f | minus: minutes_i %}

            {% if diff >= 0.5 %}
            {% assign minutes = minutes_i | add: 1 %}
            {% else %}
            {% assign minutes = minutes_i %}
            {% endif %}

            {% if minutes <= 1 %}
            {% assign reading_time = '1' | append: ' min read' %}
            {% else %}
            {% assign reading_time = minutes | append: ' min read' %}
            {% endif %}
            <span class="reading-time">{{reading_time}}</span>

            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                {{ page.date | date: date_format }}
            </time>
            {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            {% endif %}
        </p>
        <div class="post-divider"></div>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
</article>
